.app-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}


main{
display:flex;
flex-direction: column;
gap: var(--spacing-large);
}

/*================================
container
==================================*/

.container{
width: min(100%-2rem, 1100px);
margin-inline: 1.4rem;
}